<!doctype html>
<html lang="en">
<head>
    <title>MedSync</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link href="../static/styles/index.css" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-latest.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script src="vendor/mark.js/dist/mark.min.js"></script>-->
    <script type=text/javascript>
        const api = "";
        const imageEndpoint = api + "/image_txt";
//        var modal = document.getElementById('id01');


        function transcribeDoc(image_id){
            var id = image_id.charAt(image_id.length-1);
            var spinning_icon = '<i class="fa fa-spinner fa-spin" style="font-size:24px;" id="spinning"></i>';
            var tmp = '<p id ="waiting">Transcribing documents. This may take a while...</p>';
            $('div#text' + id).append(spinning_icon,tmp);
//            spinning_icon.style.display = 'block';
            $.ajax({
                url: imageEndpoint,
                dataType: 'text',
                type: 'POST',
//                contentType: 'text',
                data: {"index":id},
                success:function (response) {
                    console.log(response);
                    document.getElementById('spinning').remove();
                    document.getElementById('waiting').remove();
                    $('div#text' + id).text(response);
                }
            });


        }

        function transcribeWord(){
            var wordImage = document.getElementById('canvasWord');
            var dataURL = wordImage.toDataURL();
            console.log(dataURL);
//            var spinning_icon = '<i class="fa fa-spinner fa-spin" style="font-size:24px;" id="spinning"></i>';
//            $('div#wordOutput').append(spinning_icon);
            $.ajax({
                url: "/single_image",
                dataType: 'text',
                type: 'POST',
                data: {"image":dataURL},
                success:function (response) {
                    console.log(response);
//                    document.getElementById('spinning').remove();
//                    document.getElementById('waiting').remove();
//                    $('div#text' + id).text(response);
                }
            });


        }



        var canvas;
        var context;
        var wordCanvas;
        var wordContext;



        function el(id){return document.getElementById(id);} // Get elem by ID

        function readImage() {
            if ( this.files && this.files[0] ) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    var img = new Image();
                    img.addEventListener("load", function() {
                        var hRatio = canvas.width  / img.width    ;
                        var vRatio =  canvas.height / img.height  ;
                        var ratio  = Math.min ( hRatio, vRatio );
                        var centerShift_x = ( canvas.width - img.width*ratio ) / 2;
                        var centerShift_y = ( canvas.height - img.height*ratio ) / 2;
                        context.clearRect(0,0,canvas.width, canvas.height);
                        context.drawImage(img, 0,0, img.width, img.height,
                            centerShift_x,centerShift_y,img.width*ratio, img.height*ratio);
                    });
                    img.src = e.target.result;
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

        function readWord() {
            if ( this.files && this.files[0] ) {
                var FR= new FileReader();
                FR.onload = function(e) {
                    var img = new Image();
                    img.addEventListener("load", function() {
                        var hRatio = canvas.width  / img.width    ;
                        var vRatio =  canvas.height / img.height  ;
                        var ratio  = Math.min ( hRatio, vRatio );
                        var centerShift_x = ( wordCanvas.width - img.width*ratio ) / 2;
                        var centerShift_y = ( wordCanvas.height - img.height*ratio ) / 2;
                        wordContext.clearRect(0,0,wordCanvas.width, wordCanvas.height);
                        wordContext.drawImage(img, 0,0, img.width, img.height,
                            centerShift_x,centerShift_y,img.width*ratio, img.height*ratio);
                    });
                    img.src = e.target.result;
                };
                FR.readAsDataURL( this.files[0] );
            }
        }

        function searchKeywords(data){
            $("#searchResult").empty();
            var keywords = data.value;
            console.log(keywords);
            $.ajax({
                url: '/search_txt',
                dataType: 'text',
                type: 'POST',
//                contentType: 'application/json',
                data:{"keyword":keywords},
                success:function (response) {
                    console.log(keywords);
                    var jsonresult = $.parseJSON(response);
                    processSearch(jsonresult,keywords);
                }
            });
        }

        function processSearch(data,keywords){
            var fileName;
            var imgName;
            var imgComp;
            var transcribedText;
            var eachEntry;
//            var highlightedText;
            for (i = 0; i < data.length; i++) {
                var each = data[i];
                fileName = each.name;
                transcribedText = each.text;
//                var textHtml = '<p>' + transcribedText + '/<p>';

//                highlightedText = highlight(transcribedText,keywords);
                imgName = fileName +'.png';
                imgComp = '<img src="../static/TranscriptionImages/' + imgName + '">';
                eachEntry = '<div class="row">\n' +
                    '        <div class="col-md-4">'+fileName+imgComp+'</div>\n' +
                    '        <div class="col-md-6">\n' +
                    '            <p>'+transcribedText+'</p>\n' +
                    '        </div>\n' +
                    '    </div>';
                $('#searchResult').append(eachEntry);
//                var context = document.querySelector("#searchResult");
//                var instance = new Mark(context);
//                instance.markRegExp(/lorem/gmi);
//                $('div#searchFileName'+).text(fileName);
//                $('div#searchFileName').append(imgComp);
//                $('p#searchResult').text(transcribedText);
            }

        }

//        function highlight(data,keywords){
//            var wordLists = keywords.split(',');
//            var word;
//            for(i = 0; i < wordLists.length; i++){
//                word = wordLists[i];
////                data.indexOf(word);
//                $(".context").markRegExp(/Lorem/gmi);
//
//            }
//            return data;
//
//        }

        function showSearch(){
            document.getElementById('insights').style.display = 'none';
            document.getElementById('transcription').style.display = 'none';
            document.getElementById('searchFunction').style.display = 'inline';
        }

        function showTranscription() {
            document.getElementById('searchFunction').style.display = 'none';
            document.getElementById('insights').style.display = 'none';
            document.getElementById('transcription').style.display = 'inline';
        }

        function showInsights() {
            document.getElementById('transcription').style.display = 'none';
            document.getElementById('searchFunction').style.display = 'none';
            document.getElementById('insights').style.display = 'inline';
        }

        $(function() {
            el("fileUpload").addEventListener("change", readImage, false);
            canvas  = el("canvas");
            context = canvas.getContext("2d");

            $('.tt-query').css('background-color','#fff');

            el("wordUpload").addEventListener("change", readWord, false);
            wordCanvas  = el("canvasWord");
            wordContext = wordCanvas.getContext("2d");

        });

    </script>
</head>

<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">MedSync</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="showTranscription()">Transcription</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="showSearch()">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" onclick="showInsights()">Analytics</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Your account</a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="#">Your Documents</a>
                    <a class="dropdown-item" >Search in your documents</a>
                    <!--<a class="dropdown-item" href="#">Something else here</a>-->
                </div>
            </li>
        </ul>

        <ul class="nav navbar-nav pull-xs-right">
            <li class="nav-item">
                <span style="color: white">Hello, Kelly!</span>
            </li>
        </ul>
        <!--<form class="form-inline my-2 my-lg-0">-->
        <!--<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
        <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
        <!--</form>-->
    </div>
</nav>
<main role="main" class="container">
<div class="jumbotron text-center">
    <!--<a href="login.html"> <button type="button" class="btn btn-success">Login/Sign up</button></a>-->
    <h1>Handwritten Documents Transcription</h1>
    <p>Click on the documents below to get the transcribed text</p>

</div>



<div class="container" id="transcription">
    <div class="row"><h5>Upload any handwritten text here to get it transcribed</h5></div>
    <div class="row" style="padding-top: 2px">
        <div class="col-md-5">
            <input type='file' id="wordUpload" />
        </div>
        <div class="col-md-7">
            Predictions will be returned here
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <canvas id="canvasWord" width="430" height="150" onclick="transcribeWord()" >
            </canvas>
        </div>
        <div class="col-md-7" id="wordOutput" >
        </div>
    </div>
    <div class="row" style="padding-top: 2px">
        <div class="col-md-5">
            <input type='file' id="fileUpload" />
        </div>
        <div class="col-md-7">
            Predictions will be returned here
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <canvas id="canvas" width="430" height="430" onclick="transcribeDoc('image3')" >
                <!--style="border: dashed; border-radius: 5px;border-color: #888888"-->
                <!--style="border: solid; border-color: #888888; border-radius: 5px"-->
                <!--<img src="../static/placeholder.png" class="img-responsive" id="placeholerImage" alt="...">-->
            </canvas>
        </div>
        <div class="col-md-7" id="text3" >
        </div>
    </div>

    <div class="row" style="padding-top: 10px">
        <div class="col-md-5">
            Document 1
        </div>
        <div class="col-md-7">
            <p> Transcription result </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="../static/p01-174cropped.png" class="img-responsive" id="image1" onclick="transcribeDoc(this.id)" alt="...">
        </div>
        <div class="col-md-7" id="text1">
            <p></p>
        </div>
    </div>
    <div class="row" style="padding-top: 10px">
        <div class="col-md-5">
            Document 2
        </div>
        <div class="col-md-7">
            Transcription result
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <img src="../static/p02-000cropped.png" class="img-responsive" id="image2" onclick="transcribeDoc(this.id)" alt="...">
        </div>
        <div class="col-md-7" id="text2">
        </div>
    </div>

</div>

<div class="container" style="padding-left: 6%; padding-top: 10px;display: none;" id="searchFunction">
    <div class="row">
        <h3>Search for keywords in our medical data set</h3>
    </div>
    <div class="row">
        <div class="well">
            <div class="form-group">
                <label>Search:</label>
                <input class="form-control" id="query" placeholder="Start typing something to search..." type="text">
            </div>
            <button type="submit" class="btn btn-primary" onclick="searchKeywords(document.getElementById('query'))">Search</button>
        </div>
    </div>
    <div id="searchResult"></div>
    <!--<div class="row">-->
        <!--<div class="col-md-4" id = "searchFileName"></div>-->
        <!--<div class="col-md-6">-->
            <!--<p id="searchResult"></p>-->
        <!--</div>-->
    <!--</div>-->

</div>

<div class="container" style="padding-left: 6%; padding-top: 5px;display: none;" id="insights">
    <div class="row">
        <h5>Insights extracted from the data set</h5>
    </div>
    <div class="col-md-7">
        <img src="../static/clustering_image_updated.png" class="img-responsive">
    </div>
    <!--<div class="row">-->
        <!--<div class="col-md-6">-->
            <!--<img src="../static/wordFreq.jpeg" class="img-responsive" alt="...">-->
        <!--</div>-->
        <!--<div class="col-md-6">-->
            <!--<img src="../static/" class="img-responsive" alt="..">-->
        <!--</div>-->

    <!--</div>-->


</div>
</main>
<!--<div class = "container">-->
    <!--<input type='file' id="fileUpload" />-->
    <!--<canvas id="canvas" width="900" height="600"></canvas>-->
<!--</div>-->


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<!--<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>-->
<!--<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>-->
</body>
</html>

